@charset "utf-8";
html {
  font-size: 62.5%;
}

body {
 font-family: 'Open Sans', sans-serif;
  color: #232323;
  font-size: 1.4rem; background-color:#f6f6f6;
}
.login-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background: #d92337;
    display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: column;
  flex-direction: column;
}
.login-wrap .login-content {
    min-width: 80%;
    margin: auto;
} 
.loginBG{ background:url(../images/login_option1_animated_background.GIF) left top no-repeat; background-size:cover; border-radius:15px 0px 0px 15px;background-position: bottom;}
.signInFormBG{background: #fff;border-radius: 0px 15px 15px 0px;}
.signinLogo{width: 100%;margin-bottom: 80px;display: block;max-width: 350px;}
.rightB0x{width:49%;background:#fff;height:calc(80vh);border-radius: 0 15px 15px 0;padding:50px;}
.signInBox{width: 80%;margin: 60px auto;} 
h1 {
    margin-bottom: 43px;
    font-size: 2.8rem;
    width: 100%;
}

.sign{
    padding: 10px 30px;
    background: #5ca6e9; 
    color:#fff;

}
.box-forgotPass{display: flex;justify-content: flex-end;align-items: center;padding: 10px 0px;}
.box-signBtn{display: flex;justify-content: space-between;align-items: center;}

.btn-primary{background: #d92337;border:0px;font-size: 1.4rem;}
.btn-primary:hover, .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled):active:focus{background: #c31427;}
.form-control{height: 34px;font-size: 1.4rem}
.form-group{margin-bottom: 1.5rem;}